.test{
    margin: auto;
    text-align: center;
}
.container{
    text-align: center;
    margin: 60px auto;
}
.container h1{
    color: blue;
}
.options{
    margin: 40px auto;
}
.container a{
    background-color: aqua;
    color: black;
    text-decoration: none;
    margin: 20px 20px;
    font-size: 1.6em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
}